.footer-top {
  @include flex(space-between, center);
  flex-wrap: wrap;
  border-bottom: 1px solid $primary-color-light;
  padding: 5rem 0;
  .left {
    .logo {
      img {
        width: 30%;
      }
    }
  }
}
